/* index.css */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  padding-top: 60px; /* Ajusta este valor según la altura del NavBar */
  background-color: #f9f9f9;
}

* {
  box-sizing: border-box; /* Asegura que el padding no desborde los elementos */
}
